<div class="row">
    <div class="col-xs-12">
        <img 
         [src]="training.imagePath" 
         alt="{{ training.name }}" 
         class="img-responsive"
         style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1> {{training.name}} </h1>
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Training<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer" (click)="onAddToTrainingList()">To Training List</a></li>
                <li><a style="cursor: pointer" (click)="onEditTraining()">Edit Training</a></li>
                <li><a style="cursor: pointer" (click)="onDeleteTraining()">Delete Training</a></li>
            </ul>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ training.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of training.products">
                {{ product.name }} - {{ product.amount }} - {{ product.price }}
            </li>    
        </ul>
    </div>
</div>